<ul class="nav">
  <li>
    <%= link_to "Buzzit!", root_path, :class => 'brand' %>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">
        Categories
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <% Category.all.each do |category| %>
        <li><%= link_to category.name, category_path(category) %></li>
      <% end %>
    </ul>
  </li>
  <% if logged_in? %>
    <li>
      <%= link_to 'New Post', new_post_path %>
    </li>
    <li>
      <%= link_to 'New Category', new_category_path if current_user.admin? %>
    </li>

    <li class="dropdown">
      <a class="dropdown-toggle" 
         data-toggle="dropdown" 
         href="#">
          <i class="icon-user"></i> <%= current_user.username %> 
          <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to 'Edit Profile', edit_user_path(current_user) %>
        </li>
        <li class="divider"></li>
        <li><%= link_to 'Logout', logout_path %></li>
      </ul>
    </li>
  <% else %>
    <li>
      <%= link_to 'Register', register_path %>
    </li>
    <li>
      <%= link_to 'Login', login_path %>
    </li>
  <% end %>
</ul>
